.banner_content {
    padding-top: 280px;
    padding-left: 3rem;
    background: transparent;
    width: 35rem;
}

.banner_content h2,
h5 {
    background: transparent;

}

.banner_content h5 {
    font-size: 1rem;
    padding-top: 1rem;
}

.banner_content h2 {
    font-size: 3rem;
    padding-top: 10px;
}

.more {
    color: white;
}

.more:hover {
    color: black;
    background-color: white;
}